# Pandas Datastructures

In [1]:
import pandas as pd

## Dataframe

In [2]:
df_student = pd.DataFrame()
df_student['Name'] = ['Harry Potter','Ronald Weasley','Harmoine Grenger']
df_student['Branch'] = ['ECE','CSE','ECE']
df_student['Hobbies'] = ['Football,Cricket','Chess','Reading']

In [3]:
df_student

               Name Branch           Hobbies
0      Harry Potter    ECE  Football,Cricket
1    Ronald Weasley    CSE             Chess
2  Harmoine Grenger    ECE           Reading

## Series

In [4]:
ser_1 = pd.Series(['Draco','Civil','Bowling,Horse Riding'],index = ['Name','Branch','Hobbies'])
ser_1

Name                      Draco
Branch                    Civil
Hobbies    Bowling,Horse Riding
dtype: object

In [5]:
df_student.append(ser_1,ignore_index= True)

               Name Branch               Hobbies
0      Harry Potter    ECE      Football,Cricket
1    Ronald Weasley    CSE                 Chess
2  Harmoine Grenger    ECE               Reading
3             Draco  Civil  Bowling,Horse Riding

# Load DataSet

In [6]:
import pandas as pd

In [7]:
df_drinks = pd.read_csv('drinks.csv',sep = ',',index_col = 0)

df_mpg = pd.read_csv('mpg.csv',sep = ',',index_col = 0)

df_euro = pd.read_csv('Euro_2012_stats_TEAM.csv',sep = ',',index_col = 0)

df_occupation = pd.read_csv('occupation.csv',index_col = 'user_id')

df_tips = pd.read_csv('tips.csv',index_col = 0)

df_titanic = pd.read_csv('titanic.csv',index_col = 0)

df_sales = pd.read_csv('sales_data.csv',index_col = 0)

df_chipo = pd.read_csv('chipotle.tsv',sep = '\t')

df_books = pd.read_csv('books.csv')

df_cricket = pd.read_csv('cricket_result.csv')

df_football = pd.read_csv('football_player.csv',index_col = 0)

In [5]:
df_mpg = pd.read_csv('mpg.csv')

In [6]:
df_mpg.mpg

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 398, dtype: float64

In [8]:
df = df_chipo
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
df.tail(10)

In [9]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.dtypes

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [13]:
df.describe(include = 'all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

In [14]:
df['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [15]:
df['item_name'].nunique()

50

In [16]:
df['item_name'].unique()

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [17]:
df.index

RangeIndex(start=0, stop=4622, step=1)

# Filter the Data

In [ ]:
df.iloc[1:5]

In [ ]:
df.loc[1:5]

In [ ]:
df.loc[:,['order_id','item_name']].head(10)

In [ ]:
df.iloc[:,1:4].head(10)

## Filtering using Conditions

In [ ]:
df[df['quantity'] > 2].head(10)

In [ ]:
df[(df['quantity']> 2) & (df['item_name'] == 'Canned Soft Drink')]
# df[(df['quantity']> 2) and (df['item_name'] == 'Canned Soft Drink')]

In [ ]:
df.loc[df['item_name'].isin(['Bottled Water','Canned Soft Drink']),['quantity','item_price']].head(10)

In [ ]:
df.loc[df['item_name'].str.startswith('Veggie'),['quantity','item_price','item_name']].head(10)

# Operations on DataFrame

In [ ]:
df.sort_values(by = 'quantity',ascending=False).head(10)#.tail(10)

In [ ]:
df.sort_values(by = 'item_price',ascending = False).head(10)

In [ ]:
item_price_mod = df['item_price'].apply(lambda x : float(x.strip('$')))
item_price_mod
df['item_price_mod'] = item_price_mod
df.head()

In [ ]:
df['gst_price'] = df['item_price_mod'] * 0.18 + df['item_price_mod']
df.head(10)

In [ ]:
df['revenue'] = df['item_price_mod']*df['quantity']
df.head()

# INDEXES

In [ ]:
# Using the books dataframe for this section
df = df_books
df.head()

In [ ]:
df.index

In [ ]:
df.tail(10)

In [ ]:
%%time 
df[df['authors'] =='David C. Hendrickson']

In [ ]:
s = df.set_index('authors').sort_index()

In [ ]:
s.head(5)

In [ ]:
%%time
s.loc['David C. Hendrickson']

In [ ]:
df.head()

p_i = df.set_index(['authors','title']).sort_index()
p_i

# GroupBy

In [ ]:
# use df_cricket dataset
df = df_cricket
df.head()

In [ ]:
df.columns

In [ ]:
df['venue'].unique()

## Analyze for each season ,how were the most of the matches won, on basis of batting strength or bowling strength

In [ ]:
df['won_by'] = df['win_by_runs'].fillna(0)
df['won_by'] = df['won_by'].apply(lambda x: 'field' if x == 0 else 'bat')


wb = df.groupby(by = ['season','won_by'])['winner'].count()
wb.unstack(1).plot(kind='bar')

## How many won the toss as well as the match

In [ ]:
toss_team = df[df['toss_winner']==df['winner']]
td = toss_team.groupby(by = ['season','toss_decision'])['winner'].count()
td

td.unstack(1).plot(kind='bar')

## Analyze for a particular venue and team

In [ ]:
rcb_win = df[df['winner']=='Royal Challengers Bangalore']
rcb_t = rcb_win.groupby(by = ['season','won_by','venue'])['winner'].count()
rcb_home = rcb_t.unstack(2)#.plot(kind = 'bar')
rcb_home.loc[:,'M Chinnaswamy Stadium'].unstack(1).plot(kind = 'bar')

## Analyse the venue

In [ ]:
venue = df[df['venue']=='Eden Gardens']
venue_g = venue.groupby(by = ['season','won_by'])['winner'].count()
venue_g.unstack(1).plot(kind = 'bar')

# Plotting

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

## Univariant scatter plot

In [ ]:
tips = df_tips
tips.head()

In [ ]:
fig = plt.figure()
axes_tips = fig.add_subplot(1,1,1)
tips.hist(column='total_bill',bins=10,ax=axes_tips)
# axes_tips.hist(tips['total_bill'], bins=10)
axes_tips.set_title('Histogram of Total Bill')
axes_tips.set_xlabel('Total Bill')
axes_tips.set_ylabel('Frequency')

## Bivariant Statistical Plot

In [ ]:
scatter_plot = plt.figure()
axes_bi = scatter_plot.add_subplot(1,1,1)
tips.plot(x='total_bill',y='tip',kind = 'scatter',ax=axes_bi,s = tips['size']*10)
# axes_bi.scatter(tips['total_bill'],tips['tip'])
axes_bi.set_xlabel('Total Bill')
axes_bi.set_ylabel('Tips')
axes_bi.set_title('Scatterplot of Total Bill vs Tip')

## Box Plot

In [ ]:
boxplot = plt.figure()
axes_box = boxplot.add_subplot(1,1,1)
# axes_box.boxplot([tips[tips['sex'] =='Female']['tip'],tips[tips['sex']=='Male']['tip']],labels=['Female','Male'])
tips.boxplot(column='total_bill',by='sex',ax=axes_box)
boxplot.add_axes(axes_box)
axes_box.set_xlabel('Sex')
axes_box.set_ylabel('Tip')
axes_box.set_title('Boxplot of Tips by Sex')
boxplot.suptitle('')

In [ ]:
tips.groupby(by=['sex']).mean()\
.plot.pie(y = 'total_bill')