# Pandas Datastructures

In [1]:
import pandas as pd

In [2]:
import numpy as np

## Dataframe

In [8]:
df_student = pd.DataFrame()
df_student['Name'] = ['Harry Potter','Ronald Weasley','Harmoine Grenger']
df_student['Branch'] = ['ECE','CSE','ECE']
df_student['Hobbies'] = ['Football,Cricket','Chess','Reading']

In [9]:
df_student

               Name Branch           Hobbies
0      Harry Potter    ECE  Football,Cricket
1    Ronald Weasley    CSE             Chess
2  Harmoine Grenger    ECE           Reading

## Series

In [10]:
ser_1 = pd.Series(['Draco','Civil','Bowling,Horse Riding'],index = ['Name','Branch','Hobbies'])
ser_1

Name                      Draco
Branch                    Civil
Hobbies    Bowling,Horse Riding
dtype: object

In [11]:
df_student.append(ser_1,ignore_index= True)

               Name Branch               Hobbies
0      Harry Potter    ECE      Football,Cricket
1    Ronald Weasley    CSE                 Chess
2  Harmoine Grenger    ECE               Reading
3             Draco  Civil  Bowling,Horse Riding

# Load DataSet

In [12]:
import pandas as pd

## Read books.csv dataset

## Get top 5 and bottom 5 entries of the dataset

## Get the datatypes of the columns in the dataset

## Get the number of entries and columns of the dataset

## Get the columns of the dataset

## Get the complete description of all the columns

## Get the count of each of the author/authors publication

## Get the index of the dataset

# Filter the Data

## Get the first five rows of the dataset

## Get all the rows selecting the collumns title ,authors and language_code

## Get the titles written by only J.K. Rowling

## Get the titles written by either J.K. Rowling or Stephen King

## Get the titles of the books which contain Harry Potter

# Operations on DataFrame

## Sort the dataset w.r.t title column

## Add a new column grade . Assign grade A for ratings between 4-5, B for ratings between 3-4 and C for any rating below 3

# GroupBy

## Use occupation dataset from occupation.csv

## Identify the occupation where female workers are more in number compared to male workers. Also get the difference number. Plot the result as occupation vs the number of jobs for male and female in one graph

## Categorize male and female works who fall in different age group. Get the age group approximated to multiples of 10. (10,20,30,40.. i.e any age between 10 to 20 has to approximated to 20 , between 20 to 30 to 30 and so on..). Plot the appropriate graph

## Load tips dataset

## Calculate the tips given by male and female on particular day of the week. Plot an appropriate graph showing days of the week , tips given by male and female for all the days of the week